<h1>Registrar producto - Handlebars</h1>
<br>
<a class="btn btn-success" href="/productos">Productos</a>
<br>

<div class="row mb-1">
    <div class="col-4">
        <form id="formProducto" action="/productos" method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">Nombre</label>
                <input id="txtTitle" type="text" class="form-control" id="title" name="title">
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Precio</label>
                <input id="txtPrice" type="number" class="form-control" id="price" name="price">
            </div>
            <div class="mb-3">
                <label for="thumbnail" class="form-label">Url imagen</label>
                <input id="txtThumbnail" type="text" class="form-control" id="thumbnail" name="thumbnail" value="https://picsum.photos/200/300">
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <h2>Productos</h2>
        <br>

        <div id="alProductos" class="alert alert-warning" role="alert">
            No hay productos para mostrar
        </div>

        <ul id="ulProductos" class="list-group">
        </ul>
    </div>
    <div class="col-6">
        <h2>Chat</h2>
        <br>
        <div class="row">
            <div class="col-6">
                <input id="txtCorreo" class="form-control" type="email"/>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-11">
                <input id="txtMensaje" class="form-control" placeholder="Mensaje" type="text"/>
            </div>
            <div class="col-1">
                <button id="btnEnviar" class="btn btn-primary" type="button">Enviar</button>
            </div>
        </div>

        <div class="row">
            <div id="divChat" class="col-12">
                
            </div>
        </div>
    </div>
</div>

<script>
    let alProductos = document.getElementById("alProductos");
    let ulProductos = document.getElementById("ulProductos");
    let formProducto = document.getElementById("formProducto");
    let txtTitle = document.getElementById("txtTitle");
    let txtPrice = document.getElementById("txtPrice");
    let txtThumbnail = document.getElementById("txtThumbnail");

    let txtCorreo = document.getElementById("txtCorreo");
    let txtMensaje = document.getElementById("txtMensaje");
    let btnEnviar = document.getElementById("btnEnviar");
    let divChat = document.getElementById("divChat");

    const limpiarForm = ()=>{
        txtTitle.innerText = '';
        txtPrice.innerText = '';
        txtThumbnail.innerText = '';
    }

    try{
        let socket = io();
        socket.on("escuchar_productos", productos=>{
            if(productos.length > 0){
                console.log(productos)
                alProductos.style = 'display:none';
                ulProductos.style = 'display:block';
                let productosString = '';
                productos.forEach(function(producto){
                    productosString += `<li class="list-group-item d-flex justify-content-between align-items-start">
                                            <div class="ms-2 me-auto">
                                                <div class="fw-bold">Producto: ${producto.title}</div>
                                                Precio: ${producto.price}
                                            </div>
                                            <img src="${producto.thumbnail}" style='height:50px;'></img>
                                        </li>`;
                });

                ulProductos.innerHTML = productosString;
            }else{
                alProductos.style = 'display:block';
                ulProductos.style = 'display:none';
            }
        })

        socket.on("escuchar_mensajes", mensajes=>{
            console.log("escuchando mensajes")
            divChat.innerHTML= '';
            let mensajesString = '';
            mensajes.forEach(function(mensaje){
                mensajesString += `<p style='padding:0px;margin:0px;'>
                                        <span style='color:blue'>${mensaje.correo}</span>
                                        <span style='color:red'>[${mensaje.fecha}]:</span>
                                        <span style='color:green'>${mensaje.mensaje}</span>
                                   </p>`;
            });

            divChat.innerHTML = mensajesString;
        })

        formProducto.addEventListener('submit', function(e){
            e.preventDefault();
            let title = txtTitle.value;
            let price = txtPrice.value;
            let thumbnail = txtThumbnail.value;
            socket.emit("producto", {title, price, thumbnail});
            limpiarForm();
        })

        btnEnviar.addEventListener('click', function(e){
            e.preventDefault();
            let correo = txtCorreo.value;
            let fecha = new Date();
            let mensaje = txtMensaje.value;

            if(correo.trim().length == 0){
                alert("Debe ingresar un correo")
                return;
            }

            if(mensaje.trim().length == 0){
                alert("Debe ingresar un mensaje")
                return;
            }

            let mensajeEnviar = {
                correo,
                fecha: `${fecha.toLocaleDateString()} ${fecha.toLocaleTimeString()}`,
                mensaje
            }

            socket.emit("mensaje", mensajeEnviar);
            txtMensaje.value = "";
            txtMensaje.focus();
        })
    }catch(err){
        console.log(err)
    }
    
</script>
