<div class="row mb-1">
    <div class="col-4">
        <h2>Login</h2>
        <form id="formLogin" action="/signin" method="POST">
            <div class="mb-3">
                <label for="txtUserName" class="form-label">Usuario</label>
                <input id="txtUser" type="text" class="form-control" name="username">

                <label for="txtPassword" class="form-label">Contraseña</label>
                <input id="txtPassword" type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <a href="/signup">Registro</a>
    </div>
</div>