<div class="row mb-1">
    <div class="col-4">
        <form id="formLogin" action="/sigin" method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">Nombre</label>
                <input id="txtNombre" type="text" class="form-control" name="nombre">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <a href="/signup">Registro</a>
    </div>
</div>