<div class="row mb-1">
    <div class="col-4">
        <h2>Registro</h2>
        <form id="formLogin" action="/signup" method="POST">
            <div class="mb-3">
                <label for="username" class="form-label">Nombre de usuario</label>
                <input id="username" type="text" class="form-control" name="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input id="password" type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
        <a href="/">Login</a>
    </div>
</div>